html, body{
    box-sizing: border-box;
    margin: 0;
}

#header{
    padding: 0 20%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

#footer{
    padding: 0 20%;
    border-top: 1px solid gray;
}

#footer h3{
    font-size: 12px;
}

#homepage{
    padding: 0 20%;
}

#pokedex{
    padding: 0 20%;
}

#pokedex .pkm-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 14px;
}

#pokedex .pkm-item{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5em;
    transition: .5s;
    cursor: pointer;
}

#pokedex .pkm-item:hover{
    transform: scale(1.1);
}

#pokedex .pkm-item img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}